<div id="ideas">
  <h2>Your Ideas:</h2>
  <ul><% @user.ideas.each do |idea| %>
    <li><%= idea.name %></li>
  <% end %></ul>
  <%= link_to "Add Idea", new_idea_path %></br>
  <%= link_to "Logout", logout_path, method: 'DELETE' %>
</div>
